if TARGET_ONEKIWI_RZV2H_8GB

config SYS_SOC
	default "renesas"

config SYS_BOARD
	default "onekiwi-rzv2h-8gb"

config SYS_VENDOR
	default "renesas"

config SYS_CONFIG_NAME
	default "onekiwi-rzv2h-8gb"

endif
